.ex-1-square {
    transition: background 5s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition-property: width;
    transition-duration: 5s;
}

.ex-2-square:active {
    width: 300px
}

.ex-3-square {
    transition: 5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 3s;
}

.ex-4-square:hover {
    background: #f5f5f5;
}